<%- include('partials/header'); -%>

<div class="addfund-page">
    <form method="POST" action="/controladdfunds">

        <div class="addfund-heading">
            <h1>Add Funds To The Account:</h1>
        </div>
    
        <div class="addfund-amount">
            <p>Enter Amount:</p>
            <input name="addAmount" type="Number" required>
        </div>

        <div class="addfund-buttons">
            <button type="button">Cancel</button>
            <button name="customerEmail" value="<%= customerEmail %>" type="submit">Add Funds</button>
        </div>

    </form>
</div>

<%- include('partials/footer'); -%>