
<%- include('partials/header') -%>

<div class="home">
    <div class="display">
        <div class="display-items">
            <h1>Welcome to Spark Bank</h1>
            <p >Make your life simple and easier</p>
            
            <form action="/customerlist" method="post">
                <div class="button-div">
                    <button type="submit">View All Customer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>
